.App {
  background-color: #282c34;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.input {
    
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
}

.input:hover {
  border: 3px solid #aaa;
}

.input:focus {
  border: 3px solid #aaa;
  outline: none;
}

.button {
  border: 0;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #bbbbbb;
  color: white;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

.button:hover {
  background-color: #aaa;
}

h2 {
  color: #bbbbbb;
  text-align: center;
}

